[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/rapidxml"]
	path = external/rapidxml
	url = https://github.com/discord/rapidxml.git
